htmml{
    --color-verde: #849c3c;
    --color-negro: #353535;
    --color-rojo: #D33040;
    --color-gris: lightgray;
    --fondo-negro: #2c2c2c;
    --color-liea: #949494;
    --color-azul: lightblue;
    --color-blanco: white;



}

body{
    font-size: 16px;
    font-family: sans-serif;
    margin: 0px;
    width: 1024px;
}
header input{
    text-align: right;
}
header nav ul{
    margin-left: -37px;
}
header nav ul li{
    border: 1px solid red;
    display: inline-block;
    text-align: center;
    padding: 8px 14px;
    width: 17%;
    margin: 0px -4px;

    
}
header nav ul li:nth-child(2){
    background: var(--color-verde);
}
header nav ul li:nth-child(3){
    background: var(--color-negro);
}
header nav ul li:nth-child(4){
    background: var(--color-rojo);
}
header nav ul li:nth-child(5){
    background: var(--color-gris);
}
section, footer{
    background: var(--color-negro);
}
section article{
    display: inline-block;
    height: 350px;
    padding: 18px 8px;
    vertical-align: top;
    width: 18.3%;
    margin: 0px -4px;
}
section article:nth-last-child(2){
    background: var(--color-verde);
}
section article:nth-last-child(3){
    background: var(--color-negro);
}
section article:nth-last-child(4){
    background: var(--color-rojo);
}
section article:nth-last-child(5){
    background: var(--color-gris);
}
section article ul{
    list-style: none;
}
section article ul li{
    margin-bottom: 10px;
}
section img {
    width: 150px;
}

.letra-azul{
    color: var(--color-azul);
}
.letra-blanca{
    color: var(--color-blanco);
}
.letra-gris{
    color: var(--color-liea);
}



