html{
    --color-azul: rgb(75,95,213);
    --color-blanco: white;
    --color-enlace: rgb(162,156,231);
    --color-ayuda: rgb(218,219,241);
    --color-negro: black;

}

body{
    font-size: 16px;
    font-family: sans-serif;
    margin: 0px auto;
    max-width: 1024px;
}

.header{
    background: var(--color-negro);
    color: var(--color-blanco);
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;

}
.header img{
    width: 40px;
    vertical-align: middle;    
}
.header input[type= "submit"]{
    background: var(--color-negro);
    border: 1px solid var(--color-blanco);
    border-radius: 5px;
    color: var(--color-blanco);
    padding: 5px 10px;

}

.header input[type= "button"]{
    background: var(--color-azul);
    border: 1px solid var(--color-azul);
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--color-blanco); 
}

.help{
    background: var(--color-ayuda);
    height: 200px;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.help input{
    font-size: 0.5em;
    height: 50px;
    width: 400px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-top: 80px;
}
.main img {
    width: 50px;

}
.main-info{
    display: flex;
}
.main img{
    margin-right: 10px;
    width: 50px;
}
.main-titulo{
    font-weight: bold;
}
.main-link{
    color: var(--color-enlace);
}

.footer{
    background: var(--color-negro);
    color: var(--color-blanco);
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.footer article{
    padding: 20px 0px;
}
.footer img{
    width: 40px;
}

.copy-info{
    align-self: flex-end;
}