body{
    font-family: sans-serif;
    font-size: 16px; /* 1em */
    margin: 0px auto; /* centrar */
    max-width: 1078px; /* Requerimiento del cliente */
}

header input{
    float: right;
    margin-right: -200px;
    margin-top: 15px;
}

header nav{
    /* border: 1px solid red; */
    margin-left: 220px;
}

header nav ul li{
    display: inline-block; /* se pone de forma horizontal */
    font-size: 1.8em; /* tamaño de la letra */
    color: gray; /* color de los li */
    margin-right: 15px; 
    border-bottom: 1px solid gray; /* border de abajo de las palabras*/
    padding-bottom: 2px;
    /* text-decoration: underline; */
}

#bgoffer{
    position: relative;
    left: -35px;
    top: -410px;
}

#granthams{
    margin-left: 25px;
    margin-top: 25px;
}

#paint{
    float: right;
}

#primerseccion{
    /* border: 1px solid blue; */
    margin-top: 60px;
    height: 318px;
}

#primerseccion article{
    display: inline-block;
    vertical-align: top;
}

#secc01art01{
    margin-left: 30px;
    width: 61%;
}

#secc01art02{
    margin-left: 50px;
    width: 30%;
}

#secc01art02 ul{
    margin-left: -40px;
    list-style: none;
}

#secc01art02 ul li:before{
    color:#FF0099;
    content: "•  ";
}

#segundaseccion article {
    text-align: right;
    padding-right: 130px; 
}

#terceraseccion article{
    display: inline-block;
    padding-left: 8px;
    vertical-align: top;
    width: 23%;
}

#terceraseccion article input{
    border-radius: 5px;
}

#terceraseccion article input[type="button"]{
    background-color: #8BC500;
    color: white;
} 

#terceraseccion article img{
    vertical-align: middle; 
}

#secc03art04{
    padding-top: 60px;
}

.colorazul{
    color: #4267b3;
}

.colorverde{
    color: #8BC500;
}

.colorrosa{
    color:#FF0099;
}

.letragrande{
    font-size: 3.5em;
}

.letramediana{
    font-size: 2em;
}

.nito{
    font-weight: bold;
}