body{
   font-family: sans-serif;
   font-size: 16px;
   min-height: 100vh;/*viewport height ato del dispositivo ue se esta habriendo la pantalla*/
   padding: 20px; /*alredor del contenedor*/
}
.contenedor > *{/*todos los hijos directos de contrenedor*/
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
/* Diseno inicial: mobile first primero para cel; luego tablets y luego para pc*/
.contenedor{
    display: grid;
    gap: 20px; /*separacion entre cajas*/
    grid-template: 
    /*WYSYIWGLo que disenes es lo que vez*/
    "header" 200px
    "navbar" 50px
    "main" 100px
    "sidebar" 80px
    "fotter" 100px;
}
 /*media quey*/
@media( min-width: 1024px ){
  .contenedor{
    grid-template: 
    "header navbar" 300px
    "sidebar main" 300px
    "fotter fotter" 100px/
    200px auto;
   
}
}
/*computadora y laptop*/
@media( min-width: 1440px ){
  .contenedor{
    grid-template: 
    ". header ." 100px
    "navbar main sidebar" 500px
    "fotter fotter fotter" 100px/
    200px auto 200px;
   
}
}
.header{
    grid-area: header;
    background: purple;
}
.navbar{
    grid-area: navbar;
    background: green;
}
.sidebar{
    grid-area: sidebar;
    background: orange;
}
.main{
    grid-area: main;
    background: blue;
}
.fotter{
    grid-area: fotter;  
     background: aquamarine;
}